.cart{
    color:white;
    margin-top: 100px;
}
.cart-items-title{
    display:grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: #e1e1e1;
    font-size: max(1vw,12px);
}
.cart-items-item{
    margin: 10px 0px;
    color: white;
}
.cart-items-item img{
    width:100px;
}
.cart hr{
    height: 1px;
    background-color: #e1e1e1;
    border:none;
}
.cart-items-item .cross{
    cursor:pointer;
}

.cart-bottom{
    margin-top: 80px;
    display:flex;
    justify-content: space-between;
    gap:max(12vw,20px);
}
.cart-total{
    flex: 1;
    dispaly: flex;
    flex-direction: column;
    gap: 20px;
}
.cart-total h2{
    margin-bottom: 20px;
}
.cart-total-details{
    display: flex;
    justify-content: space-between;
    color: #b7b7b7;
}
.cart-total hr{
    margin: 10px 0px;
}
.cart-total button{
    margin-top: 20px;
    border: none;
    color:whitesmoke;
    background-color: rgb(230, 36, 36);
    width: max(15vw,200px);
    padding: 12px 0px;
    border-radius: 4px;
    cursor: pointer;
}
.cart-total button:hover{
    background-color: rgb(183, 23, 23);
}

.cart-promocode{
    flex:1;
}
.cart-promocode p{
    color:#b7b7b7;
}
.cart-promocode-input{
    margin-top: 10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(206, 206, 206);
    border-radius: 4px;
}
.cart-promocode-input input{
    background: transparent;
    border: none;
    outline: none;
    padding-left: 10px;
}
.cart-promocode-input button{
    width: max(10vw,150px);
    padding: 12px 5px;
    background-color: rgb(135, 135, 135);
    border:none;
    color:rgb(0, 0, 0);
    border-radius: 4px;
    cursor: pointer;
}
.cart-promocode-input button:hover{
    background-color: rgb(105, 105, 105);
}

@media (max-width:750px){
    .cart-bottom{
        flex-direction: column-reverse;
    }
    .cart-promocode{
        justify-content: start;
    }
}
