.navbar{
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo
{
    width:300px;
}
.navbar .panda{
    width: 80px;
    height: 80px;
    margin-left: -160px;
    margin-top: -38px;
}
.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: white;
    font-size:18px;
}
.navbar-menu a:hover{
    color:red;
}
.navbar-right{
    display:flex;
    align-items:center;
    gap:40px;
}
.navbar button{
     background:transparent;
     font-size: 16px;
     color: white;
     border: 2px solid white;
     padding: 10px 30px;
     border-radius: 50px;
     cursor:pointer;
     transition:0.3s;
}
.navbar button:hover{
    background-color: rgb(46, 43, 43);
    box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.8); /* Intensify on hover */
    /*animation: jump 2s infinite;*/ 
}
/* Keyframes for the "jump" effect */
/*@keyframes jump {
    0%, 100% {
      transform: translateY(0); /* Initial position */
 /*   }
 /*   50% {
      transform: translateY(-10px); /* Move up by 10px */
 /*   }
  } */
  
.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid white;
}  
.navbar li{
    cursor:pointer;
}
.navbar-cart-icon{
    position: relative;
    cursor:pointer;
    color: white;
}
.navbar-cart-icon:hover{
    position: relative;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
}
.navbar-search-icon{
    cursor: pointer;
    color: white;
}
.navbar-search-icon:hover{
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
}
.navbar-cart-icon .dot{
    position:absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: red;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}
.navbar-profile{
    position: relative;
}
.nav-profile-dropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;  /*An element with a higher z-index appears in front of elements with lower z-index values.*/
}
.navbar-profile:hover .nav-profile-dropdown{
    display:flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff2ef;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid rgb(255, 38, 0);
    outline: 2px solid white;
    list-style: none; /*removes the bullet points from the li tag*/
}
.nav-profile-dropdown li{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.nav-profile-dropdown img{
    width: 20px;
}
.nav-profile-dropdown li:hover{
    color: red;
}
/*This code is a CSS Media Query, which applies specific styles only when the browser window or device width is 1050px or less.*/
@media (max-width:1050px){
    .navbar .logo{
        width:140px;
        display: flex;
    }
    .navbar .panda{
        width: 50px;
        height: 50px;
        margin-left: -45px;
        margin-top: -30px;
    }
    .navbar-menu{
        gap:20px;
        font-size:17px;
    }
    .navbar-right{
        gap:30px;
    }
    .navbar-right img{
        width: 22px;
    }
    .navbar-right button{
        padding: 8px 25px;
    }
}
/*This code is a CSS Media Query, which applies specific styles only when the browser window or device width is 900px or less.*/
@media (max-width:900px){
    .navbar .logo{
        width:120px;
        display: flex;
    }
    .navbar .panda{
        width: 40px;
        height: 40px;
        margin-left: -300px;
        margin-top: -20px;        
    }
    .navbar-menu{
        gap:15px;
        font-size:16px;
    }
    .navbar-right{
        gap:20px;
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
}
/*This code is a CSS Media Query, which applies specific styles only when the browser window or device width is 750px or less.*/
@media (max-width:750px){
       .navbar-menu{
       display: none;
    }
    .navbar .panda{
        margin-left: -70px;
}
